body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div{
    width: 75%;
    height: 50%;
    background-color: white;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  -20px -20px 60px #d9d9d9,
                20px 20px 60px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beautiful-input{
    width: 500px;
    border: 2px solid #c5c5c5;
    background-color: white;
    color: #3a3a3a;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
    display: grid;
    cursor: pointer;
}

.beautiful-input.active{
    border-color: #57bbfd;
    color: #000000;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(120,203,255,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(120,203,255,0.75);
    box-shadow: 0px 0px 5px 1px rgba(120,203,255,0.75);
    cursor: text;
}

.beautiful-input.valid{
    border-color: #008000;
    color: #000000;
    grid-template-columns: auto 16px;
    gap: 5px;
    cursor: text;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}

.beautiful-input.invalid{
    border-color: #c60000;
    color: #000000;
    grid-template-columns: auto 16px;
    gap: 5px;
    cursor: text;
}

.beautiful-input.disabled{
    background-color: #f7f7f7;
    color: #3a3a3a;
    pointer-events: none;
    cursor: not-allowed;
}

.beautiful-input > label{
    all: unset;
    color: inherit;
    position: absolute;
    transition: 0.2s;
}

.beautiful-input.active > label{
    font-size: 0.7rem;
    margin-top: calc(-1rem);
    background-color: white;
    padding: 0 3px;
}

.beautiful-input > input{
    all: unset;
    color: inherit;
}

.beautiful-input > input:not(:placeholder-shown) + label{
    font-size: 0.7rem;
    margin-top: calc(-1rem);
    background-color: white;
    padding: 0 3px;
}

.beautiful-input > .status{
    background-color: inherit;
    width: max-content;
}

.beautiful-input > .status > i{
    display: none;
}

.beautiful-input.valid > .status > .fa-circle-check{
    display: unset;
}

.beautiful-input.invalid > .status > .fa-circle-xmark{
    display: unset;
}